<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Estilos-->
    <link rel="icon" href="img/sparkles.png" >
    <link rel="stylesheet" href="./css/index.css">
    
    
    <title>Full Stack  Damylet Mirena</title>
</head>
<body>
    
    <div class="grid-conteiner"></div>

    <header  class="encabezado">   
        <img src="img/Ddd.png" alt=""     class="miLog">
    
    <div> 
        <ul  class="navegadores">
           
            <li><button class="n" onclick="location.href='/'">INICIO</button></li>
            <li><button class="n" onclick="location.href='proyectos'">PROYECTOS</button></li>
            <li><button class="n" onclick="location.href='habilidades'">HABILIDADES</button></li>
            <li><button class="n" onclick="location.href='contacto'">CONTACTO</button></li>
        
        </ul>
    </div>
    </header>
<section class="contenido">
    <img src="img/Captura de pantalla 2024-04-05 103224.png" alt=" Foto de mi Perfil" class="miFoto">

    <article  class="texto-1">
        <h1  class="profesion">  Programador Full Stack </h1>

        <div class="Presentacion">
        <h3  id="titulo">  </h3>
    
        <p id="descripcion" class="df hidden"> 
          
        </p>
    </div>
    </article>
</section>
<footer  class="pieDePagina"> 
   

        <div class="socialIcons">
            <a href="https://www.linkedin.com/in/damylet-mirena-29b396230/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/Damylet"><i class="fa-brands fa-github"></i></a>
            <a href="contacto.html"><i class="fa-solid fa-envelope"></i></a>
        </div>
<div  class="ultimaLinea">
    <img src="img/heart.png" alt="icono de corazon"    class="corazon">
    <h6> Desarrollado por Damylet Mirena, en Chile Noviembre 2024.</h6>
</div>
    </div>
</footer>
<script src="js/funcion.js"></script>
</body>
</html>