@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+BE+WAL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Petit+Formal+Script&family=Playwrite+BE+WAL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Monsieur+La+Doulaise&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Petit+Formal+Script&family=Playwrite+BE+WAL:wght@100..400&display=swap');


:root{
--monsieur: "Monsieur La Doulaise", cursive;
--edu: "Edu AU VIC WA NT Hand", cursive;
--arizonia: "Arizonia", cursive;
--b612:"B612", sans-serif;
--moradoC:  rgb(29, 10, 31);
--moradoM: rgb(28, 5, 31);
--moradoOs: rgb(41, 18, 43);
--white: rgb(237, 232, 238);
}

body{
    height: 100vh;
    margin: 0 5px 0 5px;
    padding: 0;
    background-image: linear-gradient(
    rgb(238, 232, 240),
    rgb(79, 172, 248),
    rgb(117, 199, 253),
    rgb(190, 133, 243),
    rgb(252, 176, 223));

}
/* HEADER*/

.encabezado{
    height: 5%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    
}


.miLog{
    height: 80px;   
    margin: 15px;
    
}


.navegadores {
    font-family: var(--edu);
    font-size: 10px;
    list-style-type: none;
    margin: 35px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
}

.navegadores li {
    margin-right: 15px;
}

.navegadores button {
    height: 35px;
    width: 120px;
    background-color: #290c35;
    color: #faf5f9;
    border: 30px;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navegadores button:hover {
    background-color:#d44be0;
}

h1{
    font-size: 70px;
    color: var(--moradoOs);
    font-family: var(--arizonia);
    transition: background-color 0.3s;

}
h1:hover {
    color: #d44be0;
}



section{
    height: 40%;
    width: 95%;
    margin:  100px 10px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    column-gap: 60px;
}

/* PORTADA */

.contenido{
     display: grid; 
        grid-template-columns: 1fr 2fr; 
        gap: 20px;  
        align-items: center;
}

.texto-1 { 
    display: grid; 
    grid-template-rows: repeat(4, auto); 
    padding: 20px;
}

h3{
    font-size: 35px;
    color: var(--moradoC);
    font-family: var(--edu);

}

p{
    color: var(--moradoC);
    font-family: var(--edu);
    font-size: 20px;
    
    
}

.miFoto {
    display: inline;
    width: 300px; 
    height: 350px; 
    border-radius: 50% / 50%; 
    filter: drop-shadow(0 0 30px rgb(0, 0, 0 ));
}

/* FOOTER */
footer {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.socialIcons a {
    margin: 0 15px; 
    font-size: 30px;
    color: var(--moradoM);
    transition: color 0.3s ease-in-out; 
}

.socialIcons a:hover {
    color: rgb(9, 128, 226); 
    text-decoration: none; 
}

.socialIcons {
    display: flex; 
    justify-content: center; 
    margin: 20px 0; 
}

.corazon{
    height: 80%;
}

.ultimaLinea{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 0%;
    padding: 0;
    font-family: var(--edu);
    font-size: 10px;
}

/* PAGINA DE PROYECTOS */
.proyectos{
    
    margin: 5%  35%  0 35%;
    font-size: 90px;
    color: var(--moradoOs);
    font-family: var(--arizonia);
    transition: background-color 0.3s;

}
.proyectos:hover {
    color: #d44be0;

}
/* PAGINA DE HABILIDADES */
.habilidades{
    
    margin: 5%  35%  0 35%;
    font-size: 90px;
    color: var(--moradoOs);
    font-family: var(--arizonia);
    transition: background-color 0.3s;

}
.habilidades:hover {
    color: #d44be0;

}


.habilidades-container {
    width: 80%;
    margin: 0 50% 0 10%;
    padding: 10px  0  0  10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    
    background-color: hsla(300, 39%, 21%, 0.2);
    border-radius: 15px;
}

.habilidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.habilidad img {
    width: 70px;
    height: 70px;
    margin-bottom: 0.5em;
    transition: transform 0.3s ease; /* Duración y tipo de transición */ } 

    .habilidad img:hover {
         transform: scale(1.2); /* Aumenta el tamaño al 120% */
    }

/* PAGINA DE CONTACTO */

.contactame{
    
    margin: 5%  35%  0 35%;
    font-size: 90px;
    color: var(--moradoOs);
    font-family: var(--arizonia);
    transition: background-color 0.3s;

}
.contactame:hover {
    color: #d44be0;

}
.formulario {
    height: 46%;
    max-width: 70%;
    margin: 0%  15%  0 15%;
    padding: 5px  0  0  15px;
    background-image: linear-gradient(
        rgb(252, 176, 223),
        rgb(190, 133, 243),
        rgb(117, 199, 253),
        rgb(79, 172, 248),
        rgb(238, 232, 240));
        
    border-radius: 10px;
    filter: drop-shadow(0 0 10px rgb(54, 38, 53));
    
    
  }

 form{
    gap: 10px 30px;
    display: block;
    font-family: var(--edu);
 }

 #contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    
    
   
}
.lineal{

    width: 100%;
    display: flex;
    gap: 5%;
    font-size: 0.8em;
}

.lineal input{
    flex: 1;
}



 input{
    width: 300px;
    margin: 5px  0 20px 0px;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #e4eefa;
    outline: none;
}

  textarea {
    width: 650px;
    height: 150px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: #e4eefa;
}


button[type="submit"] {
    margin: 10px 0 0 0;
    padding: 0.3em 1em;
    background-color:var(--moradoM);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
